#add-language {
  margin: 0 -20px;
  // background-color: $dark-grey;
  // color: white;
  .add-language-padding {
    padding: 20px;
    .add-input-form {
      > * {
        margin: 0 5px;
      }
      .v-select {
        min-width: 290px;
      }
    }
  }
}
