@import '../variables.scss';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 0.9em;
  &.bg-custom {
    background-color: $nav-background;
    border-bottom: 1px solid $nav-border-bottom;
    color: white;
    a {
      color: white;
    }
    .nav-item {
      a {
        color: white;
      }
    }
  }
  .user-icon {
    border-radius: 50%;
    height: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
