.step-header {
  i {
    text-transform: uppercase;
  }
}
.step {
  .noToggle {
    // The toggle normally takes up 40px, move the step 40px if no toggle
    margin-left: 40px;
  }
  .chevron {
    float: left;
  }
  margin-top: 5px;
  clear: both;
  .title-input {
    width: 50%;
  }
  .step-action {
    svg {
      top: 1px;
      position: relative;
      min-width: 25px;
    }
  }
  .critical-icon {
    position: relative;
    top: 11px;
    margin-right: 10px;
  }
}

.step-list-item {
  transition: all 0.5s ease-out;
}
.step-list-enter, .step-list-leave-to
/* .step-list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.step-list-leave-active {
  position: absolute;
}
