.translations {
  .markdown-preview {
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: #e0e0e0 1px solid;
    img {
      max-width: 100%;
    }
  }
  .translation-workflow {
    .directory-header {
      background: #efefef;
      margin: 0 -15px;
      padding: 5px 15px;
    }
    .custom-file-control {
      // override the border radius for the file picker
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .white-icon {
      background-color: #ffffff;
    }
    .flag-icon {
      color: #ec0c16;
    }
    .title-wrapper {
      cursor: pointer;
    }
    pre {
      white-space: normal;
    }
  }
}
