@import 'variables.scss';

body {
  background-color: $body-background;
  background-image: url('assets/img/backgroundSquiggle.png');
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('assets/img/backgroundSquiggle@2x.png');
  }
}

a {
  color: $primary;
}

small {
  color: $tertiary-dark
}

.v-select {
  background: white;
  border-radius: 3px;
}

.editor-toolbar {
  &.fullscreen {
    z-index: 10 !important;
  }
}
