@import 'variables.scss';

body {
  background: $body-background;
}

a {
  color: $primary;
}

small {
  color: $tertiary-dark
}

.v-select {
  background: white;
  border-radius: 3px;
}

.editor-toolbar {
  &.fullscreen {
    z-index: 10 !important;
  }
}
